<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>壹世界DB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">  
    <link rel="stylesheet" href="./index.css">
    <style>
    
    </style>
</head>
<body style="display: flex;flex-direction: column;min-height: 100vh;">
    <!-- 导航栏-不一定要 -->

    <div class="container" style="flex: 1;">

        <!-- 链接组，抄自顶漫画 -->
        <section id="acg" class="list-responsive" aria-label="链接组">
            <div v-for="(group, groupIndex) in linkGroups" :key="groupIndex">
                <span id="link-source" class="fs-3 mb-2 py-1" style="border-bottom: 1px solid #dee2e6;width: 100%;display: block;scroll-margin-top:55px">{{ group.title }}</span>
                <div id="detail-links" class="row py-2">
                    <div v-for="(item, index) in group.links" :key="index" class="col-lg-2 col-md-4 col-sm-6 d-grid mt-2 mb-2">
                        <a :href="item.link" 
                            class="btn btn-outline-danger text-truncate fs-7" 
                            type="button" 
                            target="_blank">
                            {{ item.name }}
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <footer id="footer">
        &copy; 2024 Design by lumengde123<br/>
        联系方式 <a href="https://blog.1sj.top/comments/" title="1311788787">留言板</a> | 项目地址：<a href="https://github.com/lumengde123/1sj.top">Github</a>
        

    </footer>


    <script src="vue.js"></script>
    <script src="./acg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>